## List, Tuples, Sets in Python - Python Tutorial Part 1 for Beginners

<b> Author: </b> Som | som@e2eSolutionArchitect.com | [e2eSolutionArchitect.com](http://e2esolutionarchitect.com) <br>
Watch <b>e2e Solution Architect</b> tutorials. [click here](https://www.youtube.com/channel/UC5Juuk7aTvbRmrABMq4onJA/videos) | [GitHub link](https://github.com/e2eSolutionArchitect/datascience/blob/main/python/Markdown%20in%20Jupyter%20Notebook.ipynb)

### Agenda

1. List
1. Tuples
1. Sets
1. Dictionaries

# 1. List

List is an <b> Ordered </b> and <b> Mutable </b> data structure in Python. It is one of the most common data structure in Python

## Define a list

<b> Note: </b> for boolean it should be True/False not true/false

In [1]:
# Empty list
# student = []

# List with value
students =['Alex', 'John', 'Mira', 'Chang', 'Prakash']
print(students)

# List with Mixed data type
my_list=['Alex', 26, True]
print(my_list)

['Alex', 'John', 'Mira', 'Chang', 'Prakash']
['Alex', 26, True]

## Nested List

In [2]:
nstd_list=["Alex", [2,7,"Char", False], ['a']]
print(nstd_list)

['Alex', [2, 7, 'Char', False], ['a']]

<b> Note: </b> " " and ' ' act similar

## Access List Items

<b> Note: </b>A List index starts from 0. First item index is zero. Count other item index accordingly.

In [3]:
# Find index of 'Prakash' in below list 
students =['Alex', 'John', 'Mira', 'Chang', 'Prakash']
print(students[4])

Prakash

In [4]:
# Find index of 'Char' in below nested list
nstd_list=["Alex", [2,7,"Char", False], ['a']]
print(nstd_list[1][2])

Char

In [5]:
# Find first TWO items in below list 
students =['Alex', 'John', 'Mira', 'Chang', 'Prakash']
print(students[:2])
# students[:2] - starts from 0th index till 1. as '2' is exclusive

['Alex', 'John']

In [6]:
# Another way
print(students[0:2])

['Alex', 'John']

<b> Note: </b> list_name [index_inclusive: index_exclusive]

In [7]:
# Find 2nd to 5th items from below list
students =['Alex', 'John', 'Mira', 'Chang', 'Prakash']
print(students[1:5])

['John', 'Mira', 'Chang', 'Prakash']

In [8]:
# Items from beginning to end. Alternative to printing the whole list
students[:]

['Alex', 'John', 'Mira', 'Chang', 'Prakash']

### Find Index of item(s) in a list

In [9]:
# find index for John
students.index('John')

1

In [10]:
# list values of all items
for item in students:
    print(item)

Alex
John
Mira
Chang
Prakash

In [11]:
# list index and values of all items
for i,c in enumerate(students):
    print(i,c)

0 Alex
1 John
2 Mira
3 Chang
4 Prakash

In [12]:
# list index and values of all items and start index as 1
for i,c in enumerate(students, start=1):
    print(i,c)

1 Alex
2 John
3 Mira
4 Chang
5 Prakash

## Negative Indexing

In [13]:
# Find last item from list 'students'
students[-1]

'Prakash'

In [14]:
# Find Second last item from list 'students'
students[-2]

'Chang'

## Update List

In [15]:
# Add Jackie and Yulu in students list
students.append('Jackie') # append() takes exactly one argument at a time. it can't be like append('Jackie', 'Yulu') 
students

['Alex', 'John', 'Mira', 'Chang', 'Prakash', 'Jackie']

In [16]:
# Add Billo and Yulu in students list
students.extend(['Billo', 'Yulu']) # unlike append(), extends() takes more than one one argument 
students

['Alex', 'John', 'Mira', 'Chang', 'Prakash', 'Jackie', 'Billo', 'Yulu']

In [17]:
# update 6th Item with Bagira
students[5]='Bagira'
students

['Alex', 'John', 'Mira', 'Chang', 'Prakash', 'Bagira', 'Billo', 'Yulu']

In [18]:
# Insert an item in desired location
# Insert 'Nilo' at 3rd position in students list
students.insert(2,'Nilo')
students

['Alex', 'John', 'Nilo', 'Mira', 'Chang', 'Prakash', 'Bagira', 'Billo', 'Yulu']

## Concatinate list

In [19]:
# contatinate 'students' and 'nstd_list'
students+nstd_list

['Alex',
 'John',
 'Nilo',
 'Mira',
 'Chang',
 'Prakash',
 'Bagira',
 'Billo',
 'Yulu',
 'Alex',
 [2, 7, 'Char', False],
 ['a']]

In [20]:
students + [5,7,2]

['Alex',
 'John',
 'Nilo',
 'Mira',
 'Chang',
 'Prakash',
 'Bagira',
 'Billo',
 'Yulu',
 5,
 7,
 2]

## Repeate a list

In [21]:
[5,8,1]*4

[5, 8, 1, 5, 8, 1, 5, 8, 1, 5, 8, 1]

## Delete List items

In [22]:
# Delete a particular item of index 2
del students[2]
students

['Alex', 'John', 'Mira', 'Chang', 'Prakash', 'Bagira', 'Billo', 'Yulu']

In [23]:
del students[4:6]
students

['Alex', 'John', 'Mira', 'Chang', 'Billo', 'Yulu']

In [24]:
# delete entire list
# del students

# clear a whole list instead of deleting
# students.clear()

<b> Note: </b> use <b> remove() </b> to remove the given item or <b> pop() </b> to remove an item at the given index

In [25]:
students.remove('Billo')
students

['Alex', 'John', 'Mira', 'Chang', 'Yulu']

In [26]:
students.pop(2)
students

['Alex', 'John', 'Chang', 'Yulu']

## List Functions

``` python
len(list) - Gives the total length of the list.
max(list) - Returns item from the list with max value.
min(list) - Returns item from the list with min value.
list(seq) - Converts a tuple into list.
```

In [27]:
len(students)

4

In [28]:
max(students)

'Yulu'

In [29]:
min(students)

'Alex'

## List Methods

``` python
list.append(obj) -Appends object obj to list
list.count(obj) - Returns count of how many times obj occurs in list
list.extend(seq) - Appends the contents of seq to list
list.index(obj) - Returns the lowest index in list that obj appears
list.insert(index, obj) - Inserts object obj into list at offset index
list.pop(obj = list[-1]) Removes and returns last object or obj from list
list.remove(obj) - Removes object obj from list
list.reverse() - Reverses objects of list in place
list.sort([func]) - Sorts objects of list, use compare func if given
```

## Convert List to String

In [30]:
str=','.join(students) # if we want comma searated. it can be ;-,| any separator 
str

'Alex,John,Chang,Yulu'

## Convert String to List

In [31]:
new_list = str.split(',')
new_list

['Alex', 'John', 'Chang', 'Yulu']

# 2. Tuples

Tuples are <b> immutable </b>. Tuples defined with (). list with []

In [32]:
# It happens in case of LIST. as list is Mutable. Means it can be changed.
students =['Alex', 'John', 'Mira', 'Chang', 'Prakash']
new_students = students
print(students)
print(new_students)
students.insert(2,'Som')
print(students)
print(new_students)

['Alex', 'John', 'Mira', 'Chang', 'Prakash']
['Alex', 'John', 'Mira', 'Chang', 'Prakash']
['Alex', 'John', 'Som', 'Mira', 'Chang', 'Prakash']
['Alex', 'John', 'Som', 'Mira', 'Chang', 'Prakash']

<b>Note: </b> give attention that, 'new_students' values also got changed when 'students' got changed.

In [33]:
# Tuples cant be changed. It is Immutable.
t_students =('Alex', 'John', 'Mira', 'Chang', 'Prakash')
t_new_students = t_students
print(t_students)
print(t_new_students)
t_students[2]='Som'
print(t_students)
print(t_new_students)

# It will show, TypeError: 'tuple' object does not support item assignment. because Tuple is immutable. It can't be changed

('Alex', 'John', 'Mira', 'Chang', 'Prakash')
('Alex', 'John', 'Mira', 'Chang', 'Prakash')

TypeError: 'tuple' object does not support item assignment

<b>Note: </b> Tuples dont have many methods like list. Because methods for list are mostly for updating and changing list. Tuple is immutable.

# 3. Sets

Sets are unordered and contains NO duplicate. defined with {...}

<b><u> Important: </u></b>
* Empty list

list_1 =[] <br> 
list_1 = list()

* Empty Tuple

tuple_1=() <br> 
tupls_1=tuple()

* Empty Set

set_1 = set() // It cant be set_1={}. because empty dict is defined with {}

In [ ]:
s_students ={'Alex', 'John', 'Mira', 'Chang', 'Prakash'}
s_students
# if you run few times, it will show items in defferent order. Because set is UNordered

In [ ]:
# Set throws duplicates out
s_students ={'Alex', 'John', 'Mira', 'Chang', 'Prakash', 'Mira'}
s_students

## Membership tests

In [ ]:
# Check if an item exists in Set
print ('Mira' in s_students)

## Intersection

In [ ]:
# find intersection in Sets or find common items
s_students ={'Alex', 'John', 'Mira', 'Chang', 'Prakash'}
s_new_students ={'Bablu', 'Abbas', 'Mira', 'Chang'}
s_students.intersection(s_new_students)

## Difference

In [ ]:
s_students.difference(s_new_students)

## Union

In [ ]:
s_students.union(s_new_students)

# 4. Dictionaries

In [ ]:
# define a dict
d_students={'name':'Som', 'email':'som@e2eSolutionArchitect.com', 'grade': 1, 'courses':['Data Science','ML', 'AI']}
d_students

## Access to dictionary items

In [ ]:
# access values by KEY
d_students['courses'][1]

In [ ]:
# better way to access a key. If the key does not exist then return None
# d_students.get('phone')
d_students.get('phone', 'Not Found') # with custom message when key doesnt exist

## Add and Update element in dict

In [ ]:
d_students['phone']='222-2222'
d_students

In [ ]:
# update value of an existing key
d_students['phone']='999-9090'
d_students

## Update for multiple Keys

In [ ]:
d_students.update({'name': 'John', 'phone': '666-6767'})
d_students

## Delete a Key

In [ ]:
# delete key phone
del d_students['phone']
d_students

In [ ]:
# another way of deleteing or popped off
d_students.pop('grade')
# it returns the value of the key after deleting the key

## Functions of Dictionary

In [ ]:
# Length of a dictionary is count of keys in dictionary
len(d_students)

In [ ]:
# Keys of a dictionary
d_students.keys()

In [ ]:
# Values of a dictionary
d_students.values()

In [ ]:
# find all items of a dictionary 
d_students.items()

In [ ]:
# Another way to fetch only key or value
for key in d_students:
    print(key)

In [ ]:
# Another way to fetch all key value pair
for key,val in d_students.items():
    print(key,val)